.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  margin-bottom: 60px;
}

#NavBar{
  display: flex;
  justify-content: space-between;
  background-color: #f3d1c3;
  border-radius: 5px;
}

#WebsiteTitle{
  font-size: 70px;
  padding-left: 20px;
  border-radius: 5px;
}

#Routes-Welcome{
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

.NavRoute{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.toLogin{
  font-size: 20px;
  margin: 3px;
  align-items: center;
  background-color:  #D47751;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}

.LoginBtn{
  padding: 20px;
  padding-top: 50px;
  padding-right: 30px;
  border-radius: 5px;
}

#NavBarRoutes{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

#WelcomeUser{
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  padding-right: 10px;
  border-radius: 5px;
}

#NavBarDropdownBtn{
  background-color: #D47751;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin: 40px;
  margin-right: 60px;
  border-radius: 5px;
}

.dropdown{
  font-size: 20px;
  position: relative;
  display: inline-block;
}

#NavBarRoutes a:hover {
  background-color: #7070703c
}

.dropdown:hover #NavBarRoutes {
  display: block;
}

.dropdown:hover #NavBarDropdownBtn {
  background-color: #D39E45;
}

.FormInput{
  font-size: 20px;
  padding: 8px;
  margin: 10px;
  border-radius: 5px;
}

.FormLabel{
  font-size: 28px;
  text-align: center;
  border-radius: 5px;
}

.FormBtn{
  font-size: 20px;
  margin: 3px;
  align-items: center;
  background-color: #D47751;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.CreateForm{
  text-align: center;
}

.PageTitle{
  text-align: center;
}

.SignUpTitle{
  font-size: 50px;
  text-align: center;
}

.SignUpFormInput{
  font-size: 20px;
  padding: 5px;
  margin: 8px;
  border-radius: 5px;
}

.SignUpForm{
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  border-radius: 5px;
}

.SignUpFormBtn{
  text-align: center;
  border-radius: 5px;
}

.LoginTitle{
  font-size: 50px;
  text-align: center;
}

.LoginForm{
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  border-radius: 5px;
}

.ToSignUp{
  text-align: center;
}

.EditFormLabel{
  font-size: 20px;
  text-align: center;
}

.EditFormInput{
  font-size: 15px;
  padding: 5px;
  margin: 8px;
  border-radius: 5px;
}

.EditItemTitle{
  font-size: 28px;
  margin-top: 8px;
  margin-bottom:5px;
}

.DeleteBtn{
  font-size: 20px;
  margin: 3px;
  align-items: center;
  background-color: #A09D52;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.BillBtn{
  font-size: 20px;
  margin: 3px;
  align-items: center;
  background-color:#D39E45;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.EditProfileForm{
  text-align: center;
}

.form-div {
  margin-bottom: 10px;
}

.form-div > label {
  display: inline-block;
  width: 250px;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.box {
  position: relative;
  width: 30%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}

.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  right: calc(35% - 30px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 30%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.error{
  padding-top: 50px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.venmo-icon {
  max-width: 100px;
  padding: 10px;
  padding-right: 35px;
}

#itemContainer{
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  box-shadow: 0 5px 5px -2px rgba(128, 128, 128, 0.34);
  background-color: rgba(239, 235, 235, 0.384);
  margin-bottom: 15px;
}

#itemContainer:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

#itemDetails{
padding-left: 60px;
}

#allItemContainer{
  max-width: 100%;
  margin: 0 auto;
}

.ItemBtns{
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
}

.AllBillContainer{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  padding-left: 15px;
  padding-right: 15px;
}

#test {
  width: 500px;
  flex-direction: column;
}

#Bill-Container{
  /* display: flex;
  justify-content: space-evenly; */
  padding-left: 20px;
  margin-bottom: 30px;
  background-color: rgba(239, 235, 235, 0.384);
  box-shadow: 0 5px 5px -2px rgba(128, 128, 128, 0.34);
  border-radius: 5px;
}

#BillCard{
  justify-content: left;
  align-items: left;
  flex-direction: column;
  padding: 10px;
}

.EditBillBtn{
  padding-top: 80px;
}

.amount{
  font-size: 22px;
}

.icon{
  font-size: 20px
}

#goBackBtn{
  padding-top: 20px;
  padding-right: 10px;
  text-align: right;
}

.addItemBtn{
  text-align: center;
}

#MyBills {
  background-color: rgba(239, 235, 235, 0.384);
  box-shadow: 0 5px 5px -2px rgba(128, 128, 128, 0.34);
  padding: 5px;
  padding-left: 20px;
  margin-bottom: 18px;
}

#MyBills:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.BillListContainer{
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.MyBillPageTitle{
  font-size: 120px;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 80px;
}

.CreateNewBillBtn{
  font-size: 20px;
  text-align: center;
  margin: 3px;
  align-items: center;
  padding: 10px;
}

.BillList{
  padding-top: 30px;
  padding-right: 50px;
  padding-left: 30px
}

.BillLink:visited {
  color: black
}

.BillLink {
  color: black
}

.BillLink:hover {
  color:#A09D52
}

.ItemsYouOweTitle{
  font-size: 100px;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 80px;
}

.ItemsOwed{
  background-color: rgba(239, 235, 235, 0.384);
  box-shadow: 0 5px 5px -2px rgba(128, 128, 128, 0.34);
  padding: 20px;
  padding-left: 20px;
  margin-bottom: 18px;
}

.ItemsOwed:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.ReturnToMyBillsBtn {
  padding: 20px
}

.ReturnToBillsBtn{
  font-size: 20px;
  margin: 3px;
  align-items: center;
  background-color:#D39E45;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

